body{
    margin: 0;
    font-family: "montserrat";
    background-color: black;
}

h1,p,li{
    color: rgb(165, 82, 82);
}


.container{
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 126, 31);
    margin: 10rem 30rem 10rem 30rem;
    padding: 3rem 2rem 3rem 2rem;
    border-radius: 13px;
}

.fa-star{
    font-size: 2rem;
    color: orange;
}


ul{
    display: flex;
}

li{
    list-style-type: none;
    font-weight: 500;
}

.num{
    font-size: 2rem;
    background-color: rgb(89, 89, 178);
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 1rem;
}

.num:hover{
    background-color: rgb(165, 82, 82);
    color: rgb(89, 89, 178);

}
   
    
button{
background-color: rgb(89, 89, 178);
border: none;
  border-radius: 13px;
  color: rgb(165, 82, 82);
  padding: 15px 8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
}

button:hover{
    background-color: rgb(165, 82, 82);
    color: rgb(89, 89, 178);

}