body{
    margin: 0;
    font-family: "montserrat";
    background-color: black;
}

h1,p,li{
    color: whitesmoke;
}

.fa-star{
    font-size: 2rem;
    color: orange;
}

ul{
    display: flex;
}

li{
    list-style-type: none;
}