body{
    margin: 0;
    font-family: "montserrat";
    background-color: black;
}

h1,p, .num{
    color: rgb(165, 82, 82);
    cursor: pointer;
}


.container{
    justify-content: center;
    align-items: center;
    display: flex; 
}

.wrapper{
    background-color: rgb(33, 24, 12);
    margin: 10rem 30rem 10rem 30rem;
    padding: 3rem 5rem 3rem 5rem;
    border-radius: 13px;
}

.fa-star{
    font-size: 2rem;
    color: orange;
}

.number-wrap{
    display: flex;
    margin-bottom: 1rem;
}

.num{
    font-size: 1rem;
    background-color: rgb(89, 89, 178); 
    color:  rgb(165, 82, 82);
    border-radius: 50px;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin-left: 5px;
}

.num:hover{
    background-color: rgb(165, 82, 82);
    color: rgb(89, 89, 178);
}


.num:active, .num:focus{
    background-color: rgb(165, 82, 82);
    color: rgb(89, 89, 178);

}
   
    
button{
background-color: rgb(89, 89, 178);
border: none;
  border-radius: 13px;
  color: rgb(165, 82, 82);
  padding: 15px 8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
}

button:hover{
    background-color: rgb(165, 82, 82);
    color: rgb(89, 89, 178);

}

.fa-pen-to-square, .rating, .headMess, .additional-message{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.fa-pen-to-square{
    color: rgb(165, 82, 82);
    font-size: 5rem;
    
}


.rating{
    color: rgb(232, 137, 64);
    background-color: rgb(16, 21, 34);
    border-radius: 50px;
    padding: 10px 10px 10px 10px;
}

.headMess, .additional-message{
    color: aliceblue;
}